{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base_site.css' %}">
    {% endblock %}
</head>

{% block body %}
<body class="background" style="background-image: url('{{portfolio.background_image.url}}');">
    <div class="navcontainer">
        <ul class="navbar">
            <li class="navli"><a class="navlink" href="{% url 'portfolio'%}">Portfolio</a></li>
            <li class="navli"><a class="navlink" href="{% url 'dashboard'%}">GreenhouseSite</a></li>
        </ul>
    </div>
    <div class="container">
        {% block extrabody %}
        {% endblock %}
    </div>
</body>
{% endblock %}
</html>