{% extends "portfolio_site.html" %}
{% load i18n %}
{% load static %}

{% block extrabody %}
{% if not profile.profile_image == None %}
    <img class="profileimage" src="{{portfolio.profile_image}}">
{% endif %}
<h1>{{portfolio.person_name}}'s Portfolio</h1>
<h2>About Me</h2>
<p>{{portfolio.about_text}}</p>


<b>Email: {{portfolio.email}}</b><br><br>
<b>Phone Number: {{portfolio.phone}}</b><br><br>


<h2>Links</h2>
{% for link in links %}
<form action="{{link.link}}">
    <input type="submit" value="{{link.link_name}}"/>
</form>
{% endfor %}
<br>

<h2>Projects</h2>
<div>
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
          {% for category in categories%}
            <a href="{% url 'portfolio'%}?cat={{category.id}}">{{category.category_name}}</a>
          {% endfor %}
      </div>
    </div>
</div>
<br>
<div class="center" id="projects">
    {% for project in projects %}
    <div class="project">
        <img class="thumb" src="{{project.thumb}}">
        <form class="center" action="/project/{{project.id}}">
            <input type="submit" value="{{project.project_name}}"/>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}