{% extends "portfolio_site.html" %}
{% load i18n %}
{% load static %}


{% block body %}
    {% with portfolio=portfolio %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block extrabody %}
<h1>{{project.project_name}}</h1>
<h2>Description</h2>
<p>{{ project.project_desc|linebreaks }}</p>

<h2>Features</h2>
<div>
    {% for feature in features %}
    <div class="featurediv"> {{feature.feature_name}}</div>
    {% endfor %}
</div>

<h2>Planned Features</h2>
<div>
    {% for feature in pfeatures %}
        <div class="featurediv"> {{feature.feature_name}}</div>
    {% endfor %}
</div>

<h2>Skills</h2>
<br>
<div>
    {% for skill in skills %}
        <div class="featurediv"> {{skill.skill_name}}</div>
    {% endfor %}
</div>

<h2>Links</h2>
<br>
{% for link in links %}
<form action="{{link.link}}">
    <input type="submit" value="{{link.link_name}}"/>
</form>
{% endfor %}


<h2>Images</h2>
<br>
{% for image in images %}
<div class="gallerydiv">
    <p class="center">{{image.image_name}}</p>
    <a href="{{image.image.url}}">
        <img src="{{image.thumb.url}}">
    </a>
</div>
{% endfor %}


{% endblock %}